html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
}

header h1{
    margin-top:20px;
    margin-bottom: 20px;;
    width:50%;
    float:left;
    text-align:center;
}

.middle h1{
    text-align: center;
    font-size: 5em;
    color:darkgoldenrod;
}


nav{
    width:50%;
    float:left;
    margin-top:20px;
}

header{
    width:100%;
    overflow:auto; /* This clears the floats above.  There's another header higher up in this css file as well FYI */
    border:1px solid blue;
    background-color: darkgoldenrod;
    position: fixed;
}

article{
    margin:50px auto 0 auto;

    -webkit-columns: 3 300px;
    -moz-columns: 3 300px;
    columns:3 300px;

    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap:2em;
}

aside{
    margin:50px auto 0 auto;
    overflow:auto; /* Another way to clear floats */
}

nav ul{
    list-style-type: none;
    text-align:center;
}

nav li{
    display:inline; /* The "inline" means they are as wide as their content. */
    padding-right:3em;
}

nav a{
    color: black;
    display: inline-block;
    font-weight:bold;
}

nav a:hover{
    background-color:black;
    color:darkgoldenrod;
}

.middle {
    width: 80%;
    margin:auto;
    padding-top:100px;
}

